/*====== 字体设置开始 ======*/

/* noto-sans-sinhala-300 - sinhala */
@font-face {
    font-display: swap; 
    font-family: 'Noto Sans Sinhala';
    font-style: normal;
    font-weight: 300;
    src: url('noto-sans-sinhala-v26-sinhala-300.woff2') format('woff2'); 
  }
  /* noto-sans-sinhala-600 - sinhala */
  @font-face {
    font-display: swap; 
    font-family: 'Noto Sans Sinhala';
    font-style: normal;
    font-weight: 600;
    src: url('noto-sans-sinhala-v26-sinhala-600.woff2') format('woff2'); 
  }

  /* noto-sans-sc-300 - chinese-simplified */
@font-face {
    font-display: swap; 
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    src: url('noto-sans-sc-v36-chinese-simplified-300.woff2') format('woff2'); 
  }
  /* noto-sans-sc-600 - chinese-simplified */
  @font-face {
    font-display: swap; 
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 600;
    src: url('noto-sans-sc-v36-chinese-simplified-600.woff2') format('woff2'); 
  }

/* noto-sans-300 - cyrillic_cyrillic-ext_devanagari_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url('noto-sans-v32-cyrillic_cyrillic-ext_devanagari_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2'); 
  }
  /* noto-sans-600 - cyrillic_cyrillic-ext_devanagari_greek_greek-ext_latin_latin-ext_vietnamese */
  @font-face {
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('noto-sans-v32-cyrillic_cyrillic-ext_devanagari_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2') format('woff2'); 
  }

   /* noto-serif-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('noto-serif-v23-latin-regular.woff2') format('woff2'); 
  }
  /* noto-serif-sc-900 - chinese-simplified */
@font-face {
    font-display: swap; 
    font-family: 'Noto Serif SC';
    font-style: normal;
    font-weight: 900;
    src: url('noto-serif-sc-v22-chinese-simplified-900.woff2') format('woff2'); 
  }
  /* noto-sans-300italic - latin */
@font-face {
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 300;
    src: url('noto-sans-v32-latin-300italic.woff2') format('woff2'); 
  }
  /* noto-sans-600italic - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 600;
    src: url('noto-sans-v32-latin-600italic.woff2') format('woff2'); 
  }

/*====== 字体设置结束 ======*/

body {
    font-family:'Noto Sans', 'Noto Sans SC', 'Noto Sans Sinhala', sans-serif;
    font-weight: 300;
    background: white;
    overflow: hidden;
    transition: color 2.0s, background-color 2.0s;
}

.written-in-ink {
    z-index: 3;
    font-size: 9pt;
    font-family:'Noto Sans', 'Noto Sans SC', 'Noto Sans Sinhala', sans-serif;
    text-align: center;
    font-weight: 600;
    position: fixed;
    display: block;
    width: 100%;
    background: transparent;
    transition: color 2.0s, background 2.0s;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 14px;
    top: 0;
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    background: transparent;
}

p {
    font-size: 14pt;
    color: #444;
    line-height: 1.7em;
    font-weight: 300;
}

a {
    font-weight: 600;
    color: #b97c2c;
    font-family:'Noto Sans', 'Noto Sans SC', 'Noto Sans Sinhala', sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

a:hover {
    color: black; 
    transition: color 0.1s;
}

strong {
    font-weight: 600;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    text-align: center;
    line-height: 1.7em;
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {
    padding-top: 1em;
}

/*
  Class applied to choice links
*/
.choice a {
    font-size: 16pt;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: 600;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls {
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    padding-bottom: 6px;
    position: fixed;
    right: 14px;
    top: 4px;
    user-select: none;
    background: transparent;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
    color: #cc8f1a;
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }
}

/* 
  Dark Theme (Added in Inky 0.10.0)
    # theme: dark
*/

body.dark {
    background: black;
    color: white;
}

.dark .written-in-ink {
    background: transparent;
}

.dark p {
    font-size: 14pt;
    color: #CCC;
    line-height: 1.7em;
    font-weight: 300;
}

.dark a {
    color: #cc8f1a;
    transition: color 2.0s;
}

.dark a:hover {
    color: white;
}

.dark strong {
    color: white;
}

.dark #controls [disabled] {
    color: #444;
}

.dark .end {
    color: white;
}

/*
从这里开始是自己写的
*/

b {
    font-weight: 600;
}
i {
    font-style: italic;
}


.classA {
    color: #C00;
    font-weight:600;
}
.classB {
    color: #00C;
    font-weight:600;
}
.classC {
    color: #0C0;
    font-weight:600;
}
.word {
    color: #C0C;
    font-weight:600;
}
.title {
    text-align:center;
    font-weight:600;
    font-size:144%;
}

.dark .title {
    text-align:center;
    font-weight:600;
    font-size:144%;
}

.dark .classA {
    color: #F33;
    font-weight:600;
}
.dark .classB {
    color: #33F;
    font-weight:600;
}
.dark .classC {
    color: #3F3;
    font-weight:600;
}
.dark .word {
    color: #F3F;
    font-weight:600;
}
a:has(.lock) {
    pointer-events: none;
}
.lock {
    color: #888;
}
.dark .lock {
    color: #888
}


#header {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.big_header {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 50pt;
}

.big_header p {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 40pt;
    font-family: "Noto Serif SC", serif;
    font-weight: 900;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
}

.small_header {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    font-size: 13pt;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    letter-spacing:0.35em; 
    text-indent: 0.35em;
    word-spacing:0.5em;
    text-align: center;
}

.dark .small_header {
    color: #FFF;
}

#big_header_color {
    z-index: 100;
}

#big_header_shadow {
    z-index: -100;
    position: absolute;
    top: 0;
    color: transparent;
    transition: text-shadow 2.0s;
}

#big_header_color {
    background: black;
    transition: background 2.0s;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.dark #big_header_color {
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
}

#header.silver #big_header_color {
    background: linear-gradient(
        135deg,
        #999 5%,
        #fff 20%,
        #bbb 30%,
        #eee 50%,
        #bbb 70%,
        #fff 80%,
        #999 95%
    );
    background-clip: text;
    -webkit-background-clip: text;
}

#header.gold #big_header_color {
    background: linear-gradient(
        135deg, 
        rgb(255,179,0) 10%, 
        rgb(255,223,10) 30%, 
        rgb(240,166,0) 50%, 
        rgb(255,233,0) 70%, 
        rgb(255,179,0) 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
}

#header.rainbow #big_header_color {
    background: linear-gradient(in hsl longer hue 135deg, hsl(270,100%,55%), hsl(270,100%,55%));
    background-clip: text;
    -webkit-background-clip: text;
}

#header.silver #big_header_shadow, 
#header.gold #big_header_shadow, 
#header.rainbow #big_header_shadow {
    text-shadow: 
    1px 1px 3px rgba(0,0,0,0.75);
}